@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1B1B1B;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#main-navbar {
    background: #202020 !important;
}

#main-navbar #navbarNav ul li a {
    color: #a3a3a3 !important;
}

#main-navbar #navbarNav ul li.active a {
    color: #FFFFFF !important;
}

#main-navbar .navbar-nav {
    margin-left: auto;
    margin-right: 20px;
}

#main-navbar .navbar-brand {
    margin-left: 20px;
}

#fold1 {
    line-height: 30px;
    background: url(../images/IMG_0555_big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#fold1-description {
    margin-top: 20%;
    margin-bottom: 20%;
}

#fold1 h1 {
    font-weight: 700;
}

#fold1 h2 {
    font-weight: 700;
}

.btn-primary {
    background-color: #FFFFFF !important;
    color: #272142 !important;
    border-color: #FFFFFF !important;
    border-radius: 30px !important;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-primary:hover {
    background-color: #a0a0a0 !important;
    color: #131313 !important;
    border-color: #131313 !important;
}

.header-title {
    color: #F65282;
    letter-spacing: 0.1em;
}

#about-fold {
    margin-top: 40px;
}

#about-fold a {
    color: #FFFFFF;
}

.box-info {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;

    background: #2D2727;
    border-radius: 4px;
}

.about-fold h3 {
    margin-top: 30px !important;
}

#site-footer {
    background: #282323;
    color: #FFFFFF;
}

#telegram-icon {
    border-radius: 2px;
    padding: 3px;
    font-size: 24px;
    color: #282323;
    background: #ffffff;
}

#instagram-icon {
    border-radius: 2px;
    padding: 3px;
    font-size: 24px;
    color: #282323;
    background: #ffffff;
}

#site-footer a {
    color: #FFFFFF;
}